# Supabase Configuration
VITE_SUPABASE_URL=https://pejirfxbzhkbxjvkyohn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBlamlyZnhiemhrYnhqdmt5b2huIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2NjgwOTQsImV4cCI6MjA3NTI0NDA5NH0.uvbJPbmEF2l8vtV-B89ME28EF3lyr_F5W59hDPSgFqM
